
/* =============================================================================
   Helpers
   ========================================================================== */

.gform_wrapper {
  .gform_body {
    margin: 1em 0;
  }

  ul.gform_fields {
    margin: 0;
    padding: 0;
    list-style: none;

    li.gfield {
      margin-bottom: 0.5em;
    }
  }
}