
/* =============================================================================
   Media Queries
   ========================================================================== */

// Small
@media screen and (max-width: 40rem) {

  #main-nav {
    ul.menu {
      > li {
        display: block;
        margin-left: 0;
      }
    }
  }

  #sidebar {
    margin-top: 0 !important;
  }

}

// Medium
@media screen and (min-width: 40.063rem) and (max-width: 64rem) {}

// Large
@media screen and (min-width: 64.063rem) {}