
/* =============================================================================
   Media Queries
   ========================================================================== */

// Small
@media screen and (max-width: 40rem) {

  #top-bar {
    #site-description {
      text-align: center;
    }

    #social-nav {
      text-align: center;
    }
  }

  #site-title {
    text-align: center;
  }

  #main-nav {
    text-align: center;
  }

}

// Medium
@media screen and (min-width: 40.063rem) and (max-width: 64rem) {}

// Large
@media screen and (min-width: 64.063rem) {}