
/* =============================================================================
   Theme
   ========================================================================== */

body {
  font-family: @baseFontFamily;
}

h1, h2, h3 {
  font-family: @hFontFamily;
}

#top {
  font-size: 0.875em;
  background-color: @lightGrey;
  padding: 0.5em 0;
}