
/* =============================================================================
   Theme
   ========================================================================== */

body {
  font-family: @baseFontFamily;
  color: @textColor;
}

h1, h2, h3 {
  font-family: @hFontFamily;
  color: @darkTextColor;
}

h1 {
  font-size: 2em;
  font-weight: normal;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
}

h3 {
  font-size: 1.125em;
}

a {
  color: @purple;
}

p {
  line-height: 1.62;
}

.widget {
  .widget-title {
    text-transform: uppercase;
  }
}

#top-bar {
  font-size: 0.875em;
  color: @white;
  background-color: @mediumGrey;

  a {
    color: @white;
  }
}

#site-description {
  padding: 0.5rem 0;
  line-height: 1.5rem;
}

#social-nav {
  line-height: 2.5rem;

  ul.menu > li {
    display: inline-block;
    padding: 0 1em;
    border-left: 1px solid @white20;

    &:first-child {
      border-left: none;
    }
  }
}

#header {
  padding: 2em 0;
}

#site-title {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 6rem;
  margin: 0;

  a {
    color: @darkTextColor;
    text-decoration: none;
  }
}

#site-tel {
  font-size: 1.5em;
  line-height: 6rem;
  color: @darkTextColor;
}

#main-nav {
  font-size: 0.875em;
  text-transform: uppercase;
  background-color: @darkPurple;

  ul.menu {
    > li {
      display: inline-block;
    }
  }

  a {
    display: block;
    padding: 1em 2em;
    color: @white;
    font-weight: bold;
    letter-spacing: 0.01875em;
    text-decoration: none;
  }
}

#hero {
  padding: 3em 0;
  background-color: @purple;
  color: @white;

  h1, h2, h3, h4, h5, h6 {
    color: @white;
  }
}

#content {
  padding: 3em 0;
}

#comments.comments-closed {
  display: none;
}

#footer {
  font-size: 0.875em;
  background-color: @darkGrey;
  color: @white;

  h1, h2, h3, h4, h5, h6 {
    color: @white;
  }

  #footer-widgets {
    padding: 3em 0;
  }

  #bottom-bar {
    padding: 1em 0;
    background-color: @black20;
  }
}