
/* =============================================================================
   Variables
   ========================================================================== */

@baseFontFamily: 'Open Sans', sans-serif;
@hFontFamily: 'Arvo', serif;

@textColor: #222;

@lightGrey: #eee;